@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --brown-color: #72321c;
    --purple-color: #76133B;
    --yellow-color: #EFD800;
    --black-color: #1d1d1c;
    --white: #fff;

    --main-font: "cambay", sans-serif;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    background: #FEF7FF;
}

h1 {
    font-weight: bold;
}


p {
    font-size: 1.4em;
    font-weight: 100;
}

.nav-link {
    color: black;
    font-size: 1.2em;
    padding-right: 100px;
}

.logo {
    margin-top: -40px;
}

footer {
    background-color: #FCFBFB;
    padding: 0 100px;
    font-size: 0.7em;
    color: dimgray;
}

.nytlook {
    /*    position: absolute;*/
}

.hringir {
    /*    position: absolute;*/
    margin-bottom: 5em;
}

.hSjovt {
    padding-top: 60px;
}

.kisi-situr {
    width: 400px;

}


#tegninger {
    margin-top: 8em;
}

button {
    border: none;
    background-color: white;
}

.netverslunBtn {
    width: 200px;
    border-radius: 50px;
}

.hent {
    width: 180px;
    /*    margin-left: 50px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}

.hentbb {
    background-color: aqua;
}

.drawingImg {
    order: -1;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    body {
        /*                background-color: lightyellow;*/
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    body {
        /*                background-color: darkseagreen;*/
    }

    .hSjovt {
        padding-top: 100px;
    }

    .drawingImg {
        order: 1;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    body {
        /*                background-color: skyblue;*/
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    body {
        /*                        background-color: lightpink;*/
    }

    .textiPakkning {
        order: -1;
    }

}
