:root {
    --brown-color: #72321c;
    --purple-color: #76133B;
    --yellow-color: #EFD800;
    --black-color: #1d1d1c;
    --white: #fff;

    --header-font: ;
    --main-font: "cambay", sans-serif;
}

* {
    font-family: var(--main-font);
}

p {
    font-size: 1.4em;
    font-weight: 100;
}

footer {
    background-color: #FCFBFB;
}

.hringir {
    width: 300px;
}

.hSjovt {
    padding-top: 60px;
}

.biggerO {
    width: 390px;
}

.kisi-situr {
    width: 400px;

}

.glerflaska {
    width: 160px;
    transform: rotate(15deg);
}

button {
    border: none;
    background-color: white;
}

.netverslunBtn {
    width: 200px;
    border-radius: 50px;
}

.drawingImg {
    order: -1;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    body {
        background-color: lightyellow;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    body {
        background-color: darkseagreen;
    }

    .hSjovt {
        padding-top: 100px;
    }

    .drawingImg {
        order: 1;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    body {
        background-color: skyblue;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    body {
        background-color: lightpink;
    }

    .textiPakkning {
        order: -1;
    }

}
